asgiref
attrs
cached-property
certifi
charset-normalizer
Django
flake8
flake8-broken-line
flake8-isort
flake8-plugin-utils
flake8-return
idna
isodate
isort
lxml
mccabe
pep8-naming
platformdirs
psycopg2-binary
pybitrix24
pycodestyle
pyflakes
python-dotenv
pytz
requests
requests-file
requests-toolbelt
six
sqlparse
tzdata
urllib3
zeep
